.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  width: 80%;
}
table{
  width: 100%;
}

mat-form-field{
  width: 100%;
}
mat-card {
  height: 40%;
  width: 25%;
  margin: 2em auto;
  text-align: center;

}
mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}
mat-card-header{
  justify-content: center;

}


